<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="/"> <b>Infinity Dashboard</b></a>
  </div>
  <strong
    >Copyright <a target="_blank" href="https://github.com/rhaym-tech">Ghellab Abderrahmane</a> © 2023 All Rights Reserved.</strong
  >
</footer>
